USE [master]
GO
/****** Object:  Database [DuLich]    Script Date: 6/13/2017 4:13:01 PM ******/
CREATE DATABASE [DuLich]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DuLich', FILENAME = N'D:\EPU\asp\DuLich\db\DuLich.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DuLich_log', FILENAME = N'D:\EPU\asp\DuLich\db\DuLich_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DuLich].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DuLich]
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Delete]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Admin_Delete]
	@ID int
AS
	BEGIN
		DELETE FROM Admin WHERE ID=@ID
	END




GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_getByTop]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Admin_getByTop]
@Top nvarchar(10),
@Where nvarchar(MAX),
@Order nvarchar(200)
AS
	Declare @SQL as nvarchar(MAX)
	Declare @strTop as nvarchar(100)
	Select @strTop=' ('+ @Top +') '
	if len(@Top)=0
		BEGIN
			Select @strTop=' 100 percent '
		END
	Select @SQL= 'SELECT top '+ @strTop +' * FROM [Admin] '
	if len(@Where)>0
		BEGIN
			Select @SQL= @SQL + ' Where ' + @Where
		END
	if len(@Order)>0
		BEGIN
			Select @SQL=@SQL +' Order by '+@Order
		END
	EXEC(@SQL)
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Insert]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Admin_Insert]
	@HoTen nvarchar(50),
	@TenDangNhap varchar(50),
	@MatKhau varchar(50)
AS
	BEGIN
		INSERT INTO [dbo].[Admin] VALUES (@HoTen,@TenDangNhap,@MatKhau)
	END
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Login]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Admin_Login]
@TenDangNhap	varchar(50),
@MatKhau	varchar(50)
AS
	Select count(*) from Admin where TenDangNhap = @TenDangNhap and MatKhau = @MatKhau


GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_Update]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Admin_Update]
	@ID int,
	@HoTen nvarchar(50),
	@TenDangNhap varchar(50),
	@MatKhau varchar(50)
AS
	BEGIN
		UPDATE Admin SET
		HoTen = @HoTen,
		TenDangNhap = @TenDangNhap,
		MatKhau = @MatKhau
	WHERE ID=@ID
	END

--


GO
/****** Object:  StoredProcedure [dbo].[sp_DatTour_Delete]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DatTour_Delete]
	@ID bigint
AS
	BEGIN
		DELETE FROM DatTour WHERE ID=@ID
	END




GO
/****** Object:  StoredProcedure [dbo].[sp_DatTour_getByTop]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DatTour_getByTop]
@Top nvarchar(10),
@Where nvarchar(MAX),
@Order nvarchar(200)
AS
	Declare @SQL as nvarchar(MAX)
	Declare @strTop as nvarchar(100)
	Select @strTop=' ('+ @Top +') '
	if len(@Top)=0
		BEGIN
			Select @strTop=' 100 percent '
		END
	Select @SQL= 'SELECT top '+ @strTop +' * FROM [DatTour] '
	if len(@Where)>0
		BEGIN
			Select @SQL= @SQL + ' Where ' + @Where
		END
	if len(@Order)>0
		BEGIN
			Select @SQL=@SQL +' Order by '+@Order
		END
	EXEC(@SQL)
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_DatTour_Insert]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DatTour_Insert]
	@IDTour bigint = null,
	@IDKhachHang bigint = null,
	@HoTen nvarchar(50) = null,
	@DienThoai varchar(50) = null,
	@Email varchar(50) = null,
	@SoNL int = null,
	@SoTE int = null,
	@ThanhTien decimal(18,0) = null
AS
	BEGIN
		INSERT INTO [dbo].[DatTour] VALUES (@IDTour,@IDKhachHang,@HoTen,@DienThoai,@Email,@SoNL,@SoTE,@ThanhTien)
	END
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_DatTour_Update]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DatTour_Update]
	@ID bigint,
	@IDTour bigint,
	@IDKhachHang bigint,
	@HoTen nvarchar(50),
	@DienThoai varchar(50),
	@Email varchar(50),
	@SoNL int,
	@SoTE int,
	@ThanhTien decimal(18,0)
AS
	BEGIN
		UPDATE DatTour SET
		IDTour = @IDTour,
		IDKhachHang = @IDKhachHang,
		HoTen = @HoTen,
		DienThoai = @DienThoai,
		Email = @Email,
		SoNL = @SoNL,
		SoTE = @SoTE,
		ThanhTien = @ThanhTien
	WHERE ID=@ID
	END

--


GO
/****** Object:  StoredProcedure [dbo].[sp_DiaDanh_Delete]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DiaDanh_Delete]
	@ID bigint
AS
	BEGIN
		DELETE FROM DiaDanh WHERE ID=@ID
	END




GO
/****** Object:  StoredProcedure [dbo].[sp_DiaDanh_getByTop]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DiaDanh_getByTop]
@Top nvarchar(10),
@Where nvarchar(MAX),
@Order nvarchar(200)
AS
	Declare @SQL as nvarchar(MAX)
	Declare @strTop as nvarchar(100)
	Select @strTop=' ('+ @Top +') '
	if len(@Top)=0
		BEGIN
			Select @strTop=' 100 percent '
		END
	Select @SQL= 'SELECT top '+ @strTop +' * FROM [DiaDanh] '
	if len(@Where)>0
		BEGIN
			Select @SQL= @SQL + ' Where ' + @Where
		END
	if len(@Order)>0
		BEGIN
			Select @SQL=@SQL +' Order by '+@Order
		END
	EXEC(@SQL)
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_DiaDanh_Insert]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DiaDanh_Insert]
	@TenDiaDanh nvarchar(500),
	@MoTa ntext
AS
	BEGIN
		INSERT INTO [dbo].[DiaDanh] VALUES (@TenDiaDanh,@MoTa)
	END
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_DiaDanh_Update]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DiaDanh_Update]
	@ID bigint,
	@TenDiaDanh nvarchar(500),
	@MoTa ntext
AS
	BEGIN
	UPDATE DiaDanh SET
		TenDiaDanh = @TenDiaDanh,
		MoTa = @MoTa
	WHERE ID=@ID
	END

--


GO
/****** Object:  StoredProcedure [dbo].[sp_DichVuTour_Delete]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DichVuTour_Delete]
	@ID bigint
AS
	BEGIN
		DELETE FROM DichVuTour WHERE ID=@ID
	END




GO
/****** Object:  StoredProcedure [dbo].[sp_DichVuTour_getByTop]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DichVuTour_getByTop]
@Top nvarchar(10),
@Where nvarchar(MAX),
@Order nvarchar(200)
AS
	Declare @SQL as nvarchar(MAX)
	Declare @strTop as nvarchar(100)
	Select @strTop=' ('+ @Top +') '
	if len(@Top)=0
		BEGIN
			Select @strTop=' 100 percent '
		END
	Select @SQL= 'SELECT top '+ @strTop +' * FROM [DichVuTour] '
	if len(@Where)>0
		BEGIN
			Select @SQL= @SQL + ' Where ' + @Where
		END
	if len(@Order)>0
		BEGIN
			Select @SQL=@SQL +' Order by '+@Order
		END
	EXEC(@SQL)
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_DichVuTour_Insert]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DichVuTour_Insert]
	@IDTour bigint,
	@TenDV nvarchar(500),
	@MoTaDV ntext,
	@InTour bit,
	@DonGia decimal(18,0),
	@NgayTao datetime
AS
	BEGIN
		INSERT INTO [dbo].[DichVuTour] VALUES (@IDTour,@TenDV,@MoTaDV,@InTour,@DonGia,@NgayTao)
	END
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_DichVuTour_Update]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DichVuTour_Update]
	@ID bigint,
	@IDTour bigint,
	@TenDV nvarchar(500),
	@MoTaDV ntext,
	@InTour bit,
	@DonGia decimal(18,0),
	@NgayTao datetime
AS
	BEGIN
	UPDATE DichVuTour SET
		IDTour = @IDTour,
		TenDV = @TenDV,
		MoTaDV = @MoTaDV,
		InTour = @InTour,
		DonGia = @DonGia,
		NgayTao = @NgayTao
	WHERE ID=@ID
	END

--


GO
/****** Object:  StoredProcedure [dbo].[sp_KhachHang_Delete]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KhachHang_Delete]
	@ID bigint
AS
	BEGIN
		DELETE FROM KhachHang WHERE ID=@ID
	END




GO
/****** Object:  StoredProcedure [dbo].[sp_KhachHang_getByTop]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KhachHang_getByTop]
@Top nvarchar(10),
@Where nvarchar(MAX),
@Order nvarchar(200)
AS
	Declare @SQL as nvarchar(MAX)
	Declare @strTop as nvarchar(100)
	Select @strTop=' ('+ @Top +') '
	if len(@Top)=0
		BEGIN
			Select @strTop=' 100 percent '
		END
	Select @SQL= 'SELECT top '+ @strTop +' * FROM [KhachHang] '
	if len(@Where)>0
		BEGIN
			Select @SQL= @SQL + ' Where ' + @Where
		END
	if len(@Order)>0
		BEGIN
			Select @SQL=@SQL +' Order by '+@Order
		END
	EXEC(@SQL)
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_KhachHang_Insert]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KhachHang_Insert]
	@HoTen nvarchar(50) = null,
	@TenDangNhap varchar(50) = null,
	@MatKhau varchar(50) = null,
	@DiaChi nvarchar(500) = null,
	@DienThoai varchar(50) = null,
	@Email varchar(50) = null,
	@NgayDangKy datetime = null
AS
	BEGIN
		INSERT INTO [dbo].[KhachHang] VALUES (@HoTen,@TenDangNhap,@MatKhau,@DiaChi,@DienThoai,@Email,@NgayDangKy)
	END
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_KhachHang_Login]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_KhachHang_Login]
@TenDangNhap	varchar(50),
@MatKhau	varchar(50)
AS
	Select count(*) from KhachHang where TenDangNhap = @TenDangNhap and MatKhau = @MatKhau


GO
/****** Object:  StoredProcedure [dbo].[sp_KhachHang_Update]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KhachHang_Update]
	@ID bigint = null,
	@HoTen nvarchar(50) = null,
	@TenDangNhap varchar(50) = null,
	@MatKhau varchar(50) = null,
	@DiaChi nvarchar(500) = null,
	@DienThoai varchar(50) = null,
	@Email varchar(50) = null
AS
	BEGIN
	UPDATE KhachHang SET
		HoTen = @HoTen,
		TenDangNhap = @TenDangNhap,
		MatKhau = @MatKhau,
		DiaChi = @DiaChi,
		DienThoai = @DienThoai,
		Email = @Email
	WHERE ID=@ID
	END

--


GO
/****** Object:  StoredProcedure [dbo].[sp_LienHe_Delete]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LienHe_Delete]
	@ID bigint
AS
	BEGIN
		DELETE FROM LienHe WHERE ID=@ID
	END




GO
/****** Object:  StoredProcedure [dbo].[sp_LienHe_getByTop]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LienHe_getByTop]
@Top nvarchar(10),
@Where nvarchar(MAX),
@Order nvarchar(200)
AS
	Declare @SQL as nvarchar(MAX)
	Declare @strTop as nvarchar(100)
	Select @strTop=' ('+ @Top +') '
	if len(@Top)=0
		BEGIN
			Select @strTop=' 100 percent '
		END
	Select @SQL= 'SELECT top '+ @strTop +' * FROM [LienHe] '
	if len(@Where)>0
		BEGIN
			Select @SQL= @SQL + ' Where ' + @Where
		END
	if len(@Order)>0
		BEGIN
			Select @SQL=@SQL +' Order by '+@Order
		END
	EXEC(@SQL)
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_LienHe_Insert]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LienHe_Insert]
	@IDKhachHang bigint = null,
	@HoTen nvarchar(50) = null,
	@DiaChi nvarchar(500)= null,
	@DienThoai varchar(50)= null,
	@Email varchar(50)= null,
	@NgayLH datetime = null,
	@TieuDe nvarchar(500)= null,
	@NoiDung ntext= null,
	@PhanHoi ntext= null,
	@NguoiPH int= null
AS
	BEGIN
		INSERT INTO [dbo].[LienHe] VALUES (@IDKhachHang,@HoTen,@DiaChi,@DienThoai,@Email,@NgayLH,@TieuDe,@NoiDung,@PhanHoi,@NguoiPH)
	END
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_LienHe_Update]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LienHe_Update]
	@ID bigint,
	@IDKhachHang bigint,
	@HoTen nvarchar(50),
	@DiaChi nvarchar(500),
	@DienThoai varchar(50),
	@Email varchar(50),
	@NgayLH datetime,
	@TieuDe nvarchar(500),
	@NoiDung ntext,
	@PhanHoi ntext,
	@NguoiPH int
AS
	BEGIN
	UPDATE LienHe SET
		IDKhachHang = @IDKhachHang,
		HoTen = @HoTen,
		DiaChi = @DiaChi,
		DienThoai = @DienThoai,
		Email = @Email,
		NgayLH = @NgayLH,
		TieuDe = @TieuDe,
		NoiDung = @NoiDung,
		PhanHoi = @PhanHoi,
		NguoiPH = @NguoiPH
	WHERE ID=@ID
	END

--


GO
/****** Object:  StoredProcedure [dbo].[sp_Page_Delete]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Page_Delete]
	@ID int
AS
	BEGIN
		DELETE FROM Page WHERE ID=@ID
	END




GO
/****** Object:  StoredProcedure [dbo].[sp_Page_getByTop]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Page_getByTop]
@Top nvarchar(10),
@Where nvarchar(MAX),
@Order nvarchar(200)
AS
	Declare @SQL as nvarchar(MAX)
	Declare @strTop as nvarchar(100)
	Select @strTop=' ('+ @Top +') '
	if len(@Top)=0
		BEGIN
			Select @strTop=' 100 percent '
		END
	Select @SQL= 'SELECT top '+ @strTop +' * FROM [Page] '
	if len(@Where)>0
		BEGIN
			Select @SQL= @SQL + ' Where ' + @Where
		END
	if len(@Order)>0
		BEGIN
			Select @SQL=@SQL +' Order by '+@Order
		END
	EXEC(@SQL)
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_Page_Insert]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Page_Insert]
	@NoiDung ntext
AS
	BEGIN
		INSERT INTO [dbo].[Page] VALUES (@NoiDung)
	END
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_Page_Update]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Page_Update]
	@ID int,
	@NoiDung ntext
AS
	BEGIN
	UPDATE Page SET
		NoiDung = @NoiDung
	WHERE ID=@ID
	END

--


GO
/****** Object:  StoredProcedure [dbo].[sp_QuangCao_Delete]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_QuangCao_Delete]
	@ID bigint
AS
	BEGIN
		DELETE FROM QuangCao WHERE ID=@ID
	END




GO
/****** Object:  StoredProcedure [dbo].[sp_QuangCao_getByTop]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_QuangCao_getByTop]
@Top nvarchar(10),
@Where nvarchar(MAX),
@Order nvarchar(200)
AS
	Declare @SQL as nvarchar(MAX)
	Declare @strTop as nvarchar(100)
	Select @strTop=' ('+ @Top +') '
	if len(@Top)=0
		BEGIN
			Select @strTop=' 100 percent '
		END
	Select @SQL= 'SELECT top '+ @strTop +' * FROM [QuangCao] '
	if len(@Where)>0
		BEGIN
			Select @SQL= @SQL + ' Where ' + @Where
		END
	if len(@Order)>0
		BEGIN
			Select @SQL=@SQL +' Order by '+@Order
		END
	EXEC(@SQL)
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_QuangCao_Insert]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_QuangCao_Insert]
	@Image varchar(500) =null,
	@Width int =null,
	@Height int =null,
	@Url varchar(500) =null,
	@Target varchar(50) =null,
	@TimeBD time(7) =null,
	@TimeKT time(7) =null,
	@LuotClick int =null,
	@IsActive bit =null
AS
	BEGIN
		INSERT INTO [dbo].[QuangCao] VALUES (@Image,@Width,@Height,@Url,@Target,@TimeBD,@TimeKT,@LuotClick,@IsActive)
	END
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_QuangCao_Update]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_QuangCao_Update]
	@ID bigint,
	@Image varchar(500),
	@Width int,
	@Height int,
	@Url varchar(500),
	@Target varchar(50),
	@TimeBD time(7),
	@TimeKT time(7),
	@LuotClick int,
	@IsActive bit
AS
	BEGIN
	UPDATE QuangCao SET
		Image = @Image,
		Width = @Width,
		Height = @Height,
		Url = @Url,
		Target = @Target,
		TimeBD = @TimeBD,
		TimeKT = @TimeKT,
		LuotClick = @LuotClick,
		IsActive = @IsActive
	WHERE ID=@ID
	END

--


GO
/****** Object:  StoredProcedure [dbo].[sp_TinTuc_Delete]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinTuc_Delete]
	@ID bigint
AS
	BEGIN
		DELETE FROM TinTuc WHERE ID=@ID
	END




GO
/****** Object:  StoredProcedure [dbo].[sp_TinTuc_getByTop]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinTuc_getByTop]
@Top nvarchar(10),
@Where nvarchar(MAX),
@Order nvarchar(200)
AS
	Declare @SQL as nvarchar(MAX)
	Declare @strTop as nvarchar(100)
	Select @strTop=' ('+ @Top +') '
	if len(@Top)=0
		BEGIN
			Select @strTop=' 100 percent '
		END
	Select @SQL= 'SELECT top '+ @strTop +' TinTuc.* ,
	(select HoTen from Admin where Admin.ID = TinTuc.NguoiTao) as ''HoTen''
	FROM [TinTuc] '
	if len(@Where)>0
		BEGIN
			Select @SQL= @SQL + ' Where ' + @Where
		END
	if len(@Order)>0
		BEGIN
			Select @SQL=@SQL +' Order by '+@Order
		END
	EXEC(@SQL)
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_TinTuc_Insert]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinTuc_Insert]
	@TieuDe ntext = null,
	@MoTa ntext = null,
	@NoiDung ntext = null,
	@AnhDaiDien varchar(500) = null,
	@NgayTao datetime = null,
	@NguoiTao int = null
AS
	BEGIN
		INSERT INTO [dbo].[TinTuc] VALUES (@TieuDe,@MoTa,@NoiDung,@AnhDaiDien,@NgayTao,@NguoiTao)
	END
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_TinTuc_Update]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinTuc_Update]
	@ID bigint,
	@TieuDe ntext,
	@MoTa ntext,
	@NoiDung ntext,
	@AnhDaiDien varchar(500)
AS
	BEGIN
	UPDATE TinTuc SET
		TieuDe = @TieuDe,
		MoTa = @MoTa,
		NoiDung = @NoiDung,
		AnhDaiDien = @AnhDaiDien
	WHERE ID=@ID
	END

--


GO
/****** Object:  StoredProcedure [dbo].[sp_Tour_Delete]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Tour_Delete]
	@ID bigint
AS
	BEGIN
		DELETE FROM Tour WHERE ID=@ID
	END




GO
/****** Object:  StoredProcedure [dbo].[sp_Tour_getByTop]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Tour_getByTop]
@Top nvarchar(10),
@Where nvarchar(MAX),
@Order nvarchar(200)
AS
	Declare @SQL as nvarchar(MAX)
	Declare @strTop as nvarchar(100)
	Select @strTop=' ('+ @Top +') '
	if len(@Top)=0
		BEGIN
			Select @strTop=' 100 percent '
		END
	Select @SQL= 'SELECT top '+ @strTop +' * FROM [Tour] '
	if len(@Where)>0
		BEGIN
			Select @SQL= @SQL + ' Where ' + @Where
		END
	if len(@Order)>0
		BEGIN
			Select @SQL=@SQL +' Order by '+@Order
		END
	EXEC(@SQL)
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_Tour_Insert]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Tour_Insert]
	@TieuDe ntext,
	@DiaDiemXuatPhat nvarchar(500),
	@DiaDiemKetThuc nvarchar(500),
	@SoLuongTE int,
	@SoLuongNL int,
	@MoTaTour ntext,
	@MoTaPhuongTien ntext,
	@GiaTourTE decimal(18,0),
	@GiaTourNL decimal(18,0),
	@NgayKhoiHanh datetime,
	@NgayKetThuc datetime,
	@AnhMoTa text,
	@DSDiaDanh varchar(500)

AS
	BEGIN
		INSERT INTO [dbo].[Tour] VALUES (@TieuDe,@DiaDiemXuatPhat,@DiaDiemKetThuc,@SoLuongTE,@SoLuongNL,@MoTaTour,@MoTaPhuongTien,@GiaTourTE,@GiaTourNL,@NgayKhoiHanh,@NgayKetThuc,@AnhMoTa,@DSDiaDanh)
	END
	
--


GO
/****** Object:  StoredProcedure [dbo].[sp_Tour_Update]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Tour_Update]
	@ID bigint,
	@TieuDe ntext,
	@DiaDiemXuatPhat nvarchar(500),
	@DiaDiemKetThuc nvarchar(500),
	@SoLuongTE int,
	@SoLuongNL int,
	@MoTaTour ntext,
	@MoTaPhuongTien ntext,
	@GiaTourTE decimal(18,0),
	@GiaTourNL decimal(18,0),
	@NgayKhoiHanh datetime,
	@NgayKetThuc datetime,
	@AnhMoTa text,
	@DSDiaDanh varchar(500)
AS
	BEGIN
	UPDATE Tour SET
		TieuDe =  @TieuDe,
		DiaDiemXuatPhat = @DiaDiemXuatPhat,
		DiaDiemKetThuc = @DiaDiemKetThuc,
		SoLuongTE = @SoLuongTE,
		SoLuongNL = @SoLuongNL,
		MoTaTour = @MoTaTour,
		MoTaPhuongTien = @MoTaPhuongTien,
		GiaTourTE = @GiaTourTE,
		GiaTourNL = @GiaTourNL,
		NgayKhoiHanh = @NgayKhoiHanh,
		NgayKetThuc = @NgayKetThuc,
		AnhMoTa = @AnhMoTa,
		DSDiaDanh = @DSDiaDanh
	WHERE ID=@ID
	END

--


GO
/****** Object:  Table [dbo].[Admin]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[TenDangNhap] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DatTour]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DatTour](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDTour] [bigint] NULL,
	[IDKhachHang] [bigint] NULL,
	[HoTen] [nvarchar](50) NULL,
	[DienThoai] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[SoNL] [int] NULL,
	[SoTE] [int] NULL,
	[ThanhTien] [decimal](18, 0) NULL,
 CONSTRAINT [PK_DatTour] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DiaDanh]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaDanh](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TenDiaDanh] [nvarchar](500) NULL,
	[MoTa] [ntext] NULL,
 CONSTRAINT [PK_DiaDanh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DichVuTour]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVuTour](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDTour] [bigint] NULL,
	[TenDV] [nvarchar](500) NULL,
	[MoTaDV] [ntext] NULL,
	[InTour] [bit] NULL,
	[DonGia] [decimal](18, 0) NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK_DichVuTour] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[TenDangNhap] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[NgayDangKy] [datetime] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LienHe](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDKhachHang] [bigint] NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[NgayLH] [datetime] NULL,
	[TieuDe] [nvarchar](500) NULL,
	[NoiDung] [ntext] NULL,
	[PhanHoi] [ntext] NULL,
	[NguoiPH] [int] NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Page]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Page](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](500) NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_Page] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuangCao]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QuangCao](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](500) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Url] [varchar](500) NULL,
	[Target] [varchar](50) NULL,
	[TimeBD] [time](7) NULL,
	[TimeKT] [time](7) NULL,
	[LuotClick] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_QuangCao] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TinTuc](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [ntext] NULL,
	[MoTa] [ntext] NULL,
	[NoiDung] [ntext] NULL,
	[AnhDaiDien] [varchar](500) NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [int] NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 6/13/2017 4:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [ntext] NULL,
	[DiaDiemXuatPhat] [nvarchar](500) NULL,
	[DiaDiemKetThuc] [nvarchar](500) NULL,
	[SoLuongTE] [int] NULL,
	[SoLuongNL] [int] NULL,
	[MoTaTour] [ntext] NULL,
	[MoTaPhuongTien] [ntext] NULL,
	[GiaTourTE] [decimal](18, 0) NULL,
	[GiaTourNL] [decimal](18, 0) NULL,
	[NgayKhoiHanh] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[AnhMoTa] [text] NULL,
	[DSDiaDanh] [nvarchar](500) NULL,
	[ConNL] [int] NULL,
	[ConTE] [int] NULL,
 CONSTRAINT [PK_Tour] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [HoTen], [TenDangNhap], [MatKhau]) VALUES (1, N'Vũ Xuân Chiều', N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[DatTour] ON 

INSERT [dbo].[DatTour] ([ID], [IDTour], [IDKhachHang], [HoTen], [DienThoai], [Email], [SoNL], [SoTE], [ThanhTien]) VALUES (4, 3, NULL, N'Vũ Xuân Chiều', N'099999999999', N'dvkmxcv@gmail.com', 1, 0, CAST(290000 AS Decimal(18, 0)))
INSERT [dbo].[DatTour] ([ID], [IDTour], [IDKhachHang], [HoTen], [DienThoai], [Email], [SoNL], [SoTE], [ThanhTien]) VALUES (5, 1, NULL, N'Vũ Xuân Chiều', N'099999999999', N'dvkmxcv@gmail.com', 1, 1, CAST(3000000 AS Decimal(18, 0)))
INSERT [dbo].[DatTour] ([ID], [IDTour], [IDKhachHang], [HoTen], [DienThoai], [Email], [SoNL], [SoTE], [ThanhTien]) VALUES (6, 3, NULL, N'Vũ Xuân Chiều', N'099999999999', N'dvkmxcv@gmail.com', 1, 1, CAST(490000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DatTour] OFF
SET IDENTITY_INSERT [dbo].[DiaDanh] ON 

INSERT [dbo].[DiaDanh] ([ID], [TenDiaDanh], [MoTa]) VALUES (1, N'Vịnh Hạ Long', N'Vịnh Hạ Long')
INSERT [dbo].[DiaDanh] ([ID], [TenDiaDanh], [MoTa]) VALUES (2, N'Mù Cang Chải', N'Mù Cang Chải')
INSERT [dbo].[DiaDanh] ([ID], [TenDiaDanh], [MoTa]) VALUES (3, N'Châu Đốc - An Giang', N'Châu Đốc - An Giang')
SET IDENTITY_INSERT [dbo].[DiaDanh] OFF
SET IDENTITY_INSERT [dbo].[DichVuTour] ON 

INSERT [dbo].[DichVuTour] ([ID], [IDTour], [TenDV], [MoTaDV], [InTour], [DonGia], [NgayTao]) VALUES (1, 1, N'Khách sạn ABC', N'Khách sạn ABC', 1, NULL, CAST(0x0000A78C00091DC0 AS DateTime))
INSERT [dbo].[DichVuTour] ([ID], [IDTour], [TenDV], [MoTaDV], [InTour], [DonGia], [NgayTao]) VALUES (2, 2, N'Xe ô tô 20 chỗ', N'Xe ô tô 20 chỗ', 1, NULL, CAST(0x0000A78C00091DC0 AS DateTime))
INSERT [dbo].[DichVuTour] ([ID], [IDTour], [TenDV], [MoTaDV], [InTour], [DonGia], [NgayTao]) VALUES (3, 1, N'Xe ô tô 16 chỗ', N'Xe ô tô 16 chỗ', 1, NULL, CAST(0x0000A78C00093B16 AS DateTime))
SET IDENTITY_INSERT [dbo].[DichVuTour] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([ID], [HoTen], [TenDangNhap], [MatKhau], [DiaChi], [DienThoai], [Email], [NgayDangKy]) VALUES (1, N'Nguyễn Văn An', N'an', N'an', N'Hà Nội', N'4444444444444', N'&nbsp;', CAST(0x0000A78900F9E82C AS DateTime))
INSERT [dbo].[KhachHang] ([ID], [HoTen], [TenDangNhap], [MatKhau], [DiaChi], [DienThoai], [Email], [NgayDangKy]) VALUES (2, N'Nguyễn Thị Bình', N'binh', N'binh', NULL, NULL, NULL, CAST(0x0000A78900F9FB59 AS DateTime))
INSERT [dbo].[KhachHang] ([ID], [HoTen], [TenDangNhap], [MatKhau], [DiaChi], [DienThoai], [Email], [NgayDangKy]) VALUES (7, N'Vũ Xuân Chiều', N'chieu', N'chieu', N'Hà Nội', N'099999999999', N'&nbsp@vff', CAST(0x0000A78C018337BC AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LienHe] ON 

INSERT [dbo].[LienHe] ([ID], [IDKhachHang], [HoTen], [DiaChi], [DienThoai], [Email], [NgayLH], [TieuDe], [NoiDung], [PhanHoi], [NguoiPH]) VALUES (1, NULL, N'Vũ Xuân Chiều', N'Hà Nội', N'099999999999', N'dvkmxcv@gmail.com', CAST(0x0000A78D001A54A0 AS DateTime), N'jksdln', N'sdgggggggggggggggggggggggggggggggggggggggg', NULL, NULL)
INSERT [dbo].[LienHe] ([ID], [IDKhachHang], [HoTen], [DiaChi], [DienThoai], [Email], [NgayLH], [TieuDe], [NoiDung], [PhanHoi], [NguoiPH]) VALUES (3, 1, NULL, NULL, NULL, NULL, CAST(0x0000A78D001C0C14 AS DateTime), N'd', N'rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr', NULL, NULL)
SET IDENTITY_INSERT [dbo].[LienHe] OFF
SET IDENTITY_INSERT [dbo].[Page] ON 

INSERT [dbo].[Page] ([ID], [TieuDe], [NoiDung]) VALUES (2, N'Contact', N'<h2><%: Title %>.</h2>
    <h3>Your contact page.</h3>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>')
SET IDENTITY_INSERT [dbo].[Page] OFF
SET IDENTITY_INSERT [dbo].[QuangCao] ON 

INSERT [dbo].[QuangCao] ([ID], [Image], [Width], [Height], [Url], [Target], [TimeBD], [TimeKT], [LuotClick], [IsActive]) VALUES (1, N'Ads/1.gif', 250, 250, N'https://google.com', N'_blank', CAST(0x0700000000000000 AS Time), CAST(0x0700000000000000 AS Time), 1, 1)
INSERT [dbo].[QuangCao] ([ID], [Image], [Width], [Height], [Url], [Target], [TimeBD], [TimeKT], [LuotClick], [IsActive]) VALUES (2, N'Ads/2.gif', 250, 250, N'https://google.com', N'_blank', NULL, NULL, NULL, 1)
INSERT [dbo].[QuangCao] ([ID], [Image], [Width], [Height], [Url], [Target], [TimeBD], [TimeKT], [LuotClick], [IsActive]) VALUES (3, N'Ads/3.gif', 250, 250, N'https://google.com', N'_blank', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[QuangCao] OFF
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
SET IDENTITY_INSERT [dbo].[Tour] ON 

SET IDENTITY_INSERT [dbo].[Tour] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Admin]    Script Date: 6/13/2017 4:13:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Admin] ON [dbo].[Admin]
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_KhachHang]    Script Date: 6/13/2017 4:13:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KhachHang] ON [dbo].[KhachHang]
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_NgayDangKy]  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DatTour]  WITH CHECK ADD  CONSTRAINT [FK_DatTour_KhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[DatTour] CHECK CONSTRAINT [FK_DatTour_KhachHang]
GO
ALTER TABLE [dbo].[DatTour]  WITH CHECK ADD  CONSTRAINT [FK_DatTour_Tour] FOREIGN KEY([IDTour])
REFERENCES [dbo].[Tour] ([ID])
GO
ALTER TABLE [dbo].[DatTour] CHECK CONSTRAINT [FK_DatTour_Tour]
GO
ALTER TABLE [dbo].[DichVuTour]  WITH CHECK ADD  CONSTRAINT [FK_DichVuTour_Tour1] FOREIGN KEY([IDTour])
REFERENCES [dbo].[Tour] ([ID])
GO
ALTER TABLE [dbo].[DichVuTour] CHECK CONSTRAINT [FK_DichVuTour_Tour1]
GO
ALTER TABLE [dbo].[LienHe]  WITH CHECK ADD  CONSTRAINT [FK_LienHe_Admin] FOREIGN KEY([NguoiPH])
REFERENCES [dbo].[Admin] ([ID])
GO
ALTER TABLE [dbo].[LienHe] CHECK CONSTRAINT [FK_LienHe_Admin]
GO
ALTER TABLE [dbo].[LienHe]  WITH CHECK ADD  CONSTRAINT [FK_LienHe_KhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[LienHe] CHECK CONSTRAINT [FK_LienHe_KhachHang]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_Admin] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[Admin] ([ID])
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_Admin]
GO
/****** Object:  Trigger [dbo].[tg_DeleteDatTour]    Script Date: 6/13/2017 4:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tg_DeleteDatTour]
   ON  [dbo].[DatTour]
   for Delete	
AS
BEGIN
	declare @id int = -1
	select @id = inserted.IDTour from inserted
	declare @snl int = 0
	declare @ste int = 0
	select @snl = deleted.SoNL from deleted
	select @ste = deleted.SoTE from deleted
	update Tour
		set ConNL = ConNL + @snl where ID = @id
	update Tour
		set ConTE = ConTE + @ste where ID = @id
END
GO
/****** Object:  Trigger [dbo].[tg_InsertDatTour]    Script Date: 6/13/2017 4:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tg_InsertDatTour]
   ON  [dbo].[DatTour]
   for INSERT
AS
BEGIN
	declare @id int
	select @id = inserted.IDTour from inserted
	declare @snl int = 0
	declare @ste int = 0
	select @snl = inserted.SoNL from inserted
	select @ste = inserted.SoTE from inserted
	update Tour
		set ConNL = ConNL - @snl where ID = @id
	update Tour
		set ConTE = ConTE - @ste where ID = @id
END
GO
/****** Object:  Trigger [dbo].[tg_UpdateDatTour]    Script Date: 6/13/2017 4:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tg_UpdateDatTour]
   ON  [dbo].[DatTour]
   for UPDATE
AS
BEGIN
	declare @id int = -1
	select @id = inserted.IDTour from inserted
	declare @snl int = 0
	declare @ste int = 0
	select @snl = deleted.SoNL from deleted
	select @ste = deleted.SoTE from deleted
	update Tour
		set ConNL = ConNL + @snl where ID = @id
	update Tour
		set ConTE = ConTE + @ste where ID = @id

	select @snl = inserted.SoNL from inserted
	select @ste = inserted.SoTE from inserted
	update Tour
		set ConNL = ConNL - @snl where ID = @id
	update Tour
		set ConTE = ConTE - @ste where ID = @id
END
GO
/****** Object:  Trigger [dbo].[tg_Insert_DichVuTour]    Script Date: 6/13/2017 4:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[tg_Insert_DichVuTour]
   ON  [dbo].[DichVuTour]
   For insert
AS 
BEGIN
	declare @id bigint
	select @id = inserted.id from inserted
	update DichVuTour
	set NgayTao = GETDATE() where ID = @id
END

GO
/****** Object:  Trigger [dbo].[tg_InsertTour]    Script Date: 6/13/2017 4:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tg_InsertTour]
   ON  [dbo].[Tour]
   for Insert	
AS
BEGIN
	declare @id int = -1
	select @id = inserted.id from inserted
	declare @snl int = 0
	declare @ste int = 0
	select @snl = inserted.SoLuongNL from inserted
	select @ste = inserted.SoLuongTE from inserted
	update Tour
		set ConNL = SoLuongNL where ID = @id
	update Tour
		set ConTE = SoLuongTE where ID = @id
	if @ste = 0
		update Tour
		set GiaTourTE = 0 where ID = @id
END
GO
/****** Object:  Trigger [dbo].[tg_UpdateTour]    Script Date: 6/13/2017 4:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[tg_UpdateTour]
   ON  [dbo].[Tour]
   for Update	
AS
BEGIN
	declare @id int = -1
	select @id = inserted.id from inserted
	declare @snl int = 0
	declare @ste int = 0
	select @snl = deleted.SoLuongNL from deleted
	select @ste = deleted.SoLuongTE from deleted
	declare @snl1 int = 0
	declare @ste1 int = 0
	select @snl1 = inserted.SoLuongNL from inserted
	select @ste1 = inserted.SoLuongTE from inserted
	update Tour
		set ConNL = ConNL + (@snl1 - @snl) where ID = @id
	update Tour
		set ConTE = ConTE + ((@ste1 - @ste)) where ID = @id
END
GO
USE [master]
GO
